# Backend
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/blog_app
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
APP_JWT_SECRET=change_me

# Frontend
VITE_API_URL=http://localhost:8080/api
